@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .button-details {
    @apply focus:outline-none focus:shadow-button hover:shadow-button disabled:opacity-50 disabled:cursor-wait;
    transition: 0.1s;
  }
  .input-details {
    @apply focus:outline-none focus:border-[#ff9811] hover:border-[#ffa411] focus:bg-white hover:bg-white focus:shadow-inputSd hover:shadow-inputSd;
    transition: 0.2s;
  }
}

.bgLogin {
    background-image: url('https://images.unsplash.com/photo-1495521821757-a1efb6729352?q=80&w=1926&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
    background-size: cover;
    background-position: center;
    height: 100vh; 
    width: 100%; 
  }

.text{
  ul, 
  ol {
    padding: 0 1rem;
    margin-left: 1rem;
    
    li p {
      margin-top: 0.25em;
      margin-bottom: 0.25em;
    }
  }
  }